<div class="container">
  <h1>Token Trade Information List</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Price</th>
          <th>Amount</th>
          <th>Total</th>
          <th>Purchase</th>
        </tr>
      </thead>
      <tbody>
        <% @trades.each do |trade| %>
          <tr>
            <td><%= trade.price %></td>
            <td><%= trade.from_token_name %>: <%= trade.from_token_amount %></td>
            <td><%= trade.to_token_name %>: <%= trade.to_token_amount %></td>
            <td>
              <% unless current_user.username == trade.maker_address %>
                <%= form_tag("/trades/transfer", method: "post") do %>
                  <%= text_field_tag(:amount) %>
                  <%= hidden_field_tag(:id, trade.id)%>
                  <%= submit_tag("BUY") %>
                <% end %>
              <% else %>
                <%= link_to "CANCEL", trade_path(trade.id), method: :delete, data: { confirm: "Cancel this sale's information"}, class: 'btn btn-default btn-sm btn btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <!-- modal create button -->
    <!-- <%= link_to "Token Sale", "#selecttoken-modal", "data-toggle" => "modal" %> -->
    <button class="btn btn-primary btn-lg btn-block"data-toggle="modal" data-target="#selecttoken">
      Token Sale
    </button>
    </a>
  </div>
</div>

<!-- modal's Specification -->
<div class="modal fade" id="selecttoken" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" style="display: none; " aria-hidden="true">
  <div class="modal-dialog">
    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">x</button>
    <div class="modal-body">
      <h3 id="modal_label">Select Token</h3>
      <%= form_for(@trade) do |f|%>
        <p>From</p>

        <%= f.collection_select(:from_token_name, Token.all, :id, :symbol, {prompt: ""}, {class: "form-control bootstrap-date-only-width"})  %>
        <p>Token to </p>
        <%= f.collection_select(:to_token_name, Token.all, :id, :symbol, {prompt: ""}, {class: "form-control bootstrap-date-only-width"})  %>
        <h3>Sale Information Set</h3>
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
        <br>
        <%= f.label :amount %>
        <%= f.text_field :from_token_amount, class: 'form-control' %>
        <br>
        <%= f.submit 'Sale', class: 'btn btn-primary btn-block' %>
        <br>
        <%= link_to "Back", trades_path, class: 'btn btn-block' %>
      <% end %>
    </div>
  </div>
</div>
