<div class="container">
  <h1>Token Trade Information List</h1>
  <div class="table-responsive">
    <!-- テーブルにクラスを追加 -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Price</th>
          <th>EXE</th>
          <th>TST</th>
          <th>Purchase</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tradeinfos.each do |tradeinfos| %>
          <tr>
            <td><%= tradeinfos.price %></td>
            <td><%= tradeinfos.fromToken %></td>
            <td><%= tradeinfos.toToken %></td>
            <td><label>EXE</label></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <!-- modal create button -->
    <!-- <%= link_to "Token Sale", "#selecttoken-modal", "data-toggle" => "modal" %> -->
    <button class="btn btn-primary btn-lg btn-block"data-toggle="modal" data-target="#selecttoken">
      Token Sale
    </button>
    </a>
  </div>
</div>

<div class="modal fade" id="selecttoken" tabindex="-1" role="dialog" aria-labelledby="dialogHeader"　style="display: none; " aria-hidden="true">
  <div class="modal-dialog">
    <button class="close" aria-hidden="true" data-dismiss="modal" type="button">x</button>
    <h3 id="modal_label">Select Token</h3>
    <div class="modal-body">
      <h4>Please select Token</h4>
    </div>
    <div class="modal-footer">
      <%= link_to 'select', new_trade_path, class: 'btn btn-block' %>
    </div>
  </div>
</div>
